<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href=".././styles/css/style.css">
    
    <link rel="icon" href="../styles/img/icon.png">
</head>
<body>
    <header>
        <nav class="navbar">
          <div class="nav-menu">
            <div id="logo">
              <a href=""
                ><img src="../styles/img/iconbackground.png" onload="SVGInject(this)"
              /></a>
            </div>
            <ul class="nav-list">
              <li><a href="" class="nav-link">Início</a></li>
              <li><a href="" class="nav-link">Trabalhos</a></li>
              <li><a href="" class="nav-link">Sobre Mim</a></li>
              <li><a href="" class="nav-link">#BeYourself</a></li>
            </ul>
          </div>
          <div class="nav-social">
            <a href="https://github.com/Kalangoo"><img src="../styles/img/GITHUB.svg" onload="SVGInject(this)" /></a>
            <a href="https://www.instagram.com/kalani_poto/"><img src="../styles/img/icon-instagram.svg" onload="SVGInject(this)" /></a>
            <a href="https://www.youtube.com/channel/UCvM26-h8PB_d0mZWHOL1nJw"><img src="../styles/img/icon-youtube.svg" onload="SVGInject(this)" /></a>
            <a href="https://br.linkedin.com/in/kalani-klug-potolowsky-56a1b5208"><img src="../styles/img/linkedin.svg" class="mr-2" onload="SVGInject(this)" /></a>
          </div>
          
          <div class="bx mr-2"></div>
        </nav>
      </header>

      <section class="secone">
          <div class="dividor">
            <div class="container-item-1 item-1">
                <div class=" px-1" >
                  <img src="../styles/img/kalango-text.png" />
                </div>
        
                <p class=" my-2 item-2">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iaculis velit
                  magna vitae mauris orci fames posuere nibh. Sit tellus amet facilisi
                  sit odio pulvinar scelerisque quam et. Ultrices facilisis nunc massa
                  diam, quis mi imperdiet.
                </p>
                <div class="item-3">
                  <span><a href="" class="btn">Conheça Mais</a></span>
                  <span><a href="" class="ml-2 btn-secondary">Trabalhos</a></span>
                </div>
                <!-- <div class=" flex items-center mt-1 item-4">
                  <img src="assets/ps.svg" onload="SVGInject(this)" class=" w-auto" />
                  <img src="assets/marvel.svg" onload="SVGInject(this)" class=" ml-2  w-auto" />
                </div> -->
              </div>
          </div>
          <div class="container-item-2 item-5">
            <div data-tilt data-tilt-scale="1.1">
              <img src="../styles/img/testegenji.png" class="spiderman" />
            </div>
          </div>
      </section>

      <section class="sectwo">
        <div class="dividor">
            oi
        </div>
    </section>

</body>
</html>